/*******************************************HTML********************************************/
html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
    
}



/*******************************************BODY********************************************/

body {
    background-color: #fff;
    background-image: url(./Images/bg.png);
    margin: 0;
    width: 100%;
}


/************************************ELEMENTS DE BASE**************************************/

h1 {
    font-family: canada-type-gibson,sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    
}


h2 {
    font-family: canada-type-gibson,sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    text-transform: bold;
    color: #000000;
}


h3 {
    font-family: canada-type-gibson,sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    text-transform: bold;
    color: #000000;
}


h4 {
    font-family: neue-haas-unica,sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
}


h5{
    font-family: canada-type-gibson,sans-serif;;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    text-transform: bold;
    color: #000000;
}


h6 {
    font-family: canada-type-gibson,sans-serif;
    font-size: 7px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #ff3f63;
}


p {
    font-family: neue-haas-unica,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 10px;
    color: #899097;
    text-align: left; 
    line-height: 1.6;
    letter-spacing: 0.25px;
}


button {
    width: 110px;
    height: 35px;
    border-radius: 2px;
    background-color: #3740ff;
    box-shadow: 0px 10px 25px 0 rgba(55, 64, 255, 0.2);
    border-style: solid;
    border-color: #3740ff;
    font-family: neue-haas-unica,sans-serif;
    letter-spacing: 0.25px;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    color: #fff;

}


.fas-fa-arrow-right {
    right: 12px;
    top: 10px;
    width: 6px;
    height: 6px;
}


footer li {
    font-family: neue-haas-unica,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 10px;
    color: #899097;
    text-align: left; 
    line-height: 3;
    letter-spacing: 0.25px;
    list-style-type: none;
}



/*******************************************HEADER********************************************/

header{
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}


.logo{
    
    position: absolute;
    top: 20px;
    left: 25px;
    width: 40px;
    height: 40px;
}


header ul{
   
    padding-left: 0;
    width: 300px;
    position: absolute;
    left: 177.5px;
    top: 18.5px;
}


header ul li {
    font-family: neue-haas-unica,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 10px;
    color: #899097;
    display: inline;
    text-align: left;
    padding: 0;
    margin-right: 20px;
    
}


.header-button{ 
    position: absolute;
    right: 25px;
    top: 22.5px;
    left: 805px;
    font-family: neue-haas-unica, sans-serif;
    font-size: 9px;
    width: 110px;
    height: 30px;

}

header button i{
    position: absolute;
    right: 12px;
    top: 10px;
    width: 6px;
    height: 6px;
}



/*******************************************MAIN********************************************/


/*****Partie 1*****/

.partie-1 {
    position: relative;
    padding: 0;
}


.rave-agency {
    position: absolute;
    text-align: left;
    top: 140px;
    left: 177.5px;
}


.h1-partie1 {
    position: absolute;
    line-height: 34px; 
    text-align: left; 
    left: 177.5px; 
    top: 159.5px; 
}


.p-partie1 {
    position: absolute; 
    padding-top: 19.5px;
    display: inline;
    margin-right: 20px; 
    top: 274.5px; 
    left: 177.5px; 
}


.button-wwu {
    position: absolute;
    top: 333.5px;
    left: 177.5px;
    font-family: neue-haas-unica, sans-serif;
    font-size: 9px;
    width: 110px;
    height: 30px;
    margin-top: 33.5px;
}


.forme-multicouleur {
    position: absolute;
    right: 177.5px;
    top: 104.5px;
    left: 477.5px;
}



/*****Partie 2*****/

.partie-2 {
    position: relative;
    padding: 0;
}


.white-box-partie2 {
    position: relative;
    top: 466px;
    left: 177.5px;
    right: 177.5px;
    width: 585px;
    height: 126.5px;
    background-color: #ffffff;
    box-shadow: 0px 10px 25px 0 rgba(151, 151, 151, 0.2);
    border-style: solid;
    border-color: #ffffff;
}

.contain-of-box-partie2 {
    position: relative;
    width: 585px;
    height: 126.5px;
}

.h3-partie2 {
    position: absolute;
    margin: 28px 280.5px 19.5px 35px;
}


.p-partie2 {
    position: absolute;
    margin: 60px 115.5px 5px 35px;
}


.img-randall-perez-partie2 {
    position: absolute;
    object-fit: contain;
    width: 70.5px;
    height: 71px;
    left: 446.5px;
    right: 68px;
    top: 20px;
}


.p-rp-partie2 {
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
    color: #000000;
    text-transform: bold;
    writing-mode: sideways-lr;
    -webkit-transform: rotate(-90deg);
    position: absolute;
    width: 70.5px;
    height: 71px;
    left: 531.5px;
    top: 10px;
}


.p-rf-partie2 {
    font-weight: 500;
    font-style: normal;
    font-size: 8.5px;
    writing-mode: sideways-lr;
    -webkit-transform: rotate(-90deg);
    position: absolute;
    width: 70.5px;
    height: 71px;
    left: 544px;
    top: 10px;
}


/*****Partie 3*****/

.partie-3 {
    position: relative;
    padding: 0;
}


.button-n1-partie3 {
    position: absolute;
    top: 630px;
    left: 177.5px;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: #3740ff;
    box-shadow: 0px 10px 25px 0 rgba(55, 64, 255, 0.2);
    border-style: solid;
    border-color: #3740ff;
    color: #fff;
}




.h5-n1-partie3 {
    position: absolute;
    text-align: left;
    top: 630px;
    left: 212px;
    margin-top: 10px;
    margin-left: 10px;
}


.p-partie3 {
    position: absolute;
    text-align: left;
    top: 650px;
    left: 212px;
    margin-top: 10px;
    margin-left: 10px;
}


.hr-n1-partie3 {
    position: absolute;
    display: block;
    top: 720px;
    left: 165px;
    margin-top: 10px;
    margin-left: 10px;
    height: 1px;
    width: 290px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.164);
    
}


.button-n2-partie3 {
    position: absolute;
    top: 755px;
    left: 177.5px;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0px 10px 25px 0 rgba(122, 122, 122, 0.2);
    border-style: solid;
    border-color: #fff;
    color: #fff;
}

.h5-n2-partie3 {
    position: absolute;
    text-align: left;
    top: 755px;
    left: 212px;
    margin-top: 10px;
    margin-left: 10px;
}


.hr-n2-partie3 {
    position: absolute;
    top: 790px;
    left: 165px;
    margin-top: 10px;
    margin-left: 10px;
    height: 1px;
    width: 290px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.164);
}


.button-n3-partie3 {
    position: absolute;
    top: 820px;
    left: 177.5px;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0px 10px 25px 0 rgba(122, 122, 122, 0.2);
    border-style: solid;
    border-color: #fff;
    color: #fff;
}


.h5-n3-partie3 {
    position: absolute;
    text-align: left;
    top: 820px;
    left: 212px;
    margin-top: 10px;
    margin-left: 10px;
}


.grey-square-partie3 {
    position: absolute;
    top: 580px;
    left: 555px;
    width: 350px;
    height: 320px;
    background-color: rgb(155, 154, 154);
}


.img-yellow-partie3 {
    position: absolute;
    margin-top: 550px;
    margin-left: 840px;
    z-index: -1;
}


/*****Partie 4*****/

.partie-4 {
    position: relative;
    padding: 0;
}

.card1-partie4 {
    position: relative;
    top: 1040px;
    left: 177.5px;
    width: 190px;
    height: 190px;
    background-color: #ffffff;
    box-shadow: 0px 10px 25px 0 rgba(151, 151, 151, 0.2);
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;
}


.img-n1-partie4 {
    position: absolute;
    margin: 20px 117px 108px 20px;
}

.h5-n1-partie4 {
    position: absolute;
    margin: 61px 66px 81px 20px;
}


.p-n1-partie4 {
    position: absolute;
    margin: 88px 25px 44px 20px;
}


.card2-partie4 {
    position: relative;
    top: 910px;
    left: 390px;
    width: 190px;
    height: 190px;
    background-color: #ffffff;
    box-shadow: 0px 10px 25px 0 rgba(151, 151, 151, 0.2);
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;
}


.img-n2-partie4 {
    position: absolute;
    margin: 20px 117px 108px 20px;
}


.h5-n2-partie4 {
    position: absolute;
    margin: 61px 66px 81px 20px;
}


.p-n2-partie4 {
    position: absolute;
    margin: 88px 25px 44px 20px;
}


.card3-partie4 {
    position: relative;
    top: 865px;
    left: 177.5px;
    width: 190px;
    height: 190px;
    background-color: #ffffff;
    box-shadow: 0px 10px 25px 0 rgba(151, 151, 151, 0.2);
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;
}


.img-n3-partie4 {
    position: absolute;
    margin: 20px 117px 108px 20px;
}


.h5-n3-partie4 {
    position: absolute;
    margin: 61px 66px 81px 20px;
}


.p-n3-partie4 {
    position: absolute;
    margin: 88px 25px 44px 20px;
}


.card4-partie4 {
    position: relative;
    top: 735px;
    left: 390px;
    width: 190px;
    height: 190px;
    background-color: #ffffff;
    box-shadow: 0px 10px 25px 0 rgba(151, 151, 151, 0.2);
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;
}


.img-n4-partie4 {
    position: absolute;
    margin: 20px 117px 108px 20px;
}


.h5-n4-partie4 {
    position: absolute;
    margin: 61px 66px 81px 20px;
}


.p-n4-partie4 {
    position: absolute;
    margin: 88px 25px 44px 20px;
}


.img-blue-partie4 {
    position: absolute;
    margin-top: 200px;
    margin-left: 90px;
    z-index: -1;
}


.ultimate-experiences-partie4 {
    position: relative;
    top: 400px;
    left: 680px;
}

.h6-partie4 {
    position: absolute;
    margin-top: -10px;
}


.h2-partie4 {
    position: absolute;
    margin-top: 5px;
    font-size: 30px;
    letter-spacing: -0.24px;
    line-height: 1.17;
}


.p-n5-partie4 {
    position: absolute;
    margin-top: 95px;
}


.button-partie4 {
    position: absolute;
    margin-top: 185px;
    margin-left: -20px;
    width: 110px;
    height: 35px;
    padding: 0;
    border-radius: none;
    background-color: rgba(245, 245, 245, 0);
    box-shadow: none;
    border-style: solid;
    border-color: rgba(245, 245, 245, 0);
    font-family: neue-haas-unica,sans-serif;
    letter-spacing: 0.25px;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    color: #3740ff;
    
}


/*****Partie 5*****/

.partie-5 {
    position: relative;
    padding: 0;
}


.section-partie5 {
    position: absolute;
    left: 177.5px;
    top: 820px;
}


.h6-partie5 {
    margin-bottom: -10px;
}


.h2-partie5 {
    margin-top: 20px;
    font-size: 30px;
    letter-spacing: -0.24px;
    line-height: 1.17;
}

.graphic-design-partie5 {
    position: relative;
}

.grey-square-partie5 {
    position: absolute;
    top: 1060px;
    left: 177.5px;
    width: 360px;
    height: 320px;
    border-radius: 3px;
    background-color: rgb(155, 154, 154);
    z-index: -1;
}


.p-n1-partie5 {
    position: absolute;
    top: 1060px;
    left: 177.5px;
    margin: 22px 207px 258px 20px;
    color: white;
    font-size: 6px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}


.h4-n1-partie5 {
    position: absolute;
    top: 1060px;
    left: 177.5px;
    margin: 34px 161px 239px 20px;
    color: white;
}


.grey-square2-partie5 {
    position: absolute;
    top: 920px;
    left: 555px;
    width: 360px;
    height: 320px;
    border-radius: 3px;
    background-color: rgb(155, 154, 154);
    z-index: -1;
}

.p-n2-partie5 {
    position: absolute;
    top: 920px; 
    left: 555px;
    margin: 22px 207px 258px 20px;
    color: rgb(255, 255, 255);
    font-size: 6px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}


.h4-n2-partie5 {
    position: absolute;
    top: 920px;
    left: 555px;
    margin: 34px 161px 239px 20px;
    color: white;
}


.grey-square3-partie5 {
    position: absolute;
    top: 1398px;
    left: 177.5px;
    width: 360px;
    height: 320px;
    border-radius: 3px;
    background-color: rgb(155, 154, 154);
    z-index: -1;
}


.p-n3-partie5 {
    position: absolute;
    top: 1398px;
    left: 177.5px;
    margin: 22px 207px 258px 20px;
    color: white;
    font-size: 6px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}


.h4-n3-partie5 {
    position: absolute;
    top: 1398px;
    left: 177.5px;
    margin: 34px 161px 239px 20px;
    color: white;
}


.grey-square4-partie5 {
    position: absolute;
    top: 1260px;
    left: 555px;
    width: 360px;
    height: 320px;
    border-radius: 3px;
    background-color: rgb(155, 154, 154);
    z-index: -1;
}

.p-n4-partie5 {
    position: absolute;
    top: 1260px; 
    left: 555px;
    margin: 22px 207px 258px 20px;
    color: rgb(255, 255, 255);
    font-size: 6px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}


.h4-n4-partie5 {
    position: absolute;
    top: 1260px;
    left: 555px;
    margin: 34px 161px 239px 20px;
    color: white;
}

.button-partie5 {
    position: absolute;
    margin-top: 1660px;
    margin-left: 825px;
    width: 110px;
    height: 35px;
    padding: 0;
    border-radius: none;
    background-color: rgba(245, 245, 245, 0);
    box-shadow: none;
    border-style: solid;
    border-color: rgba(245, 245, 245, 0);
    font-family: neue-haas-unica,sans-serif;
    letter-spacing: 0.25px;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    color: #3740ff;
}


/*****Partie 6*****/

.partie-6 {
    position: relative;
    padding: 0;
}


.section-partie6 {
    position: absolute;
    left: -500px;
    top: 1450px;
}

.h6-partie6 {
    margin-bottom: -10px;
}


.h2-partie6 {
    margin-top: 20px;
    font-size: 30px;
    letter-spacing: -0.24px;
    line-height: 1.17;
}

.button-partie6 {
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    width: 110px;
    height: 35px;
    padding: 0;
    border-radius: none;
    background-color: rgba(245, 245, 245, 0);
    box-shadow: none;
    border-style: solid;
    border-color: rgba(245, 245, 245, 0);
    font-family: neue-haas-unica,sans-serif;
    letter-spacing: 0.25px;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    color: #3740ff;
}


.grey-square1-partie6 {
    position: absolute;
    top: 1490px;
    left: -140px;
    width: 190px;
    height: 195px;
    border-radius: 3px;
    background-color: rgb(155, 154, 154);
}


.grey-square2-partie6 {
    position: absolute;
    top: 1440px;
    left: 55px;
    width: 160px;
    height: 165px;
    border-radius: 3px;
    background-color: rgb(155, 154, 154);
}

.grey-square3-partie6 {
    position: absolute;
    top: 1610px;
    left: 55px;
    width: 130px;
    height: 135px;
    border-radius: 3px;
    background-color: rgb(155, 154, 154);
}


.img-partie6 {
    position: absolute;
    margin-top: 1420px;
    margin-left: -100px;
    width: 350px;
    height: 350px;
    z-index: -1;
}


/*****Partie 7*****/

.partie-7 {
    position: relative;
    margin-top: 2250px;
    margin-left: 350px;
    padding: 0;
}


.section-testimonial-partie7 {
    position: absolute;
    top: 50px;
    left: 50px;
}


.h6-partie7 {
    text-align: center
}


.p-n1-partie7 {
    
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.18px;
    text-align: center;
    color: black;
}


.grey-circle-partie7 {
    position: absolute;
    top: 200px;
    left: 225px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: rgb(155, 154, 154);

}


.p-n2-partie7 {
    position: absolute;
    top: 240px;
    left: 210px;
    font-size: 10px;
    text-align: center;
    color: black;
}


.p-n3-partie7 {
    position: absolute;
    top: 255px;
    left: 215px;
    font-size: 9px;
    text-align: center;
    
}



.img-pink-partie7 {
    position: absolute;
    margin-top: 20px;
    margin-left: 180px;
    object-fit: contain;
    z-index: -1;
}


/*****Partie 8*****/

.partie-8 {
    position: relative;
    padding: 0;
}


.grey-square1-partie8 {
    position: absolute;
    top: 400px;
    left: 215px;
    width: 377px;
    height: 250px;
    border-radius: 3px;
    background-color: rgb(155, 154, 154);
}

.h6-n1-partie8 {
    position: absolute;
    top: 650px;
    left: 215px;
    
}

.h4-n1-partie8 {
    position: absolute;
    top: 660px;
    left: 215px;
    color: black;
}


.p-n1-partie8 {
    position: absolute;
    top: 690px;
    left: 215px;
    color: rgb(155, 154, 154);
}


.grey-square2-partie8 {
    position: absolute;
    top: 400px;
    left: 600px;
    width: 377px;
    height: 250px;
    border-radius: 3px;
    background-color: rgb(155, 154, 154);
}


.h6-n2-partie8 {
    position: absolute;
    top: 650px;
    left: 600px;
    
}

.h4-n2-partie8 {
    position: absolute;
    top: 660px;
    left: 600px;
    color: black;
}


.p-n2-partie8 {
    position: absolute;
    top: 690px;
    left: 600px;
    color: rgb(155, 154, 154);
}


/*****Partie 9*****/

.partie-9 {
    position: relative;
    padding: 0;
}


.img-n1-partie9 {
    position: absolute;
    margin-top: 850px;
    left: 180px;
    width: 130px;
    height: 130px;
}


.wwu-partie9 {
    position: absolute;
    top: 830px;
    left: 450px;
    text-align: center;
}


.h6-partie9 {
    margin-bottom: -10px;
}



.p-partie9 {
    text-align: center;
    margin-top: -10px;

}


.button-partie9 {
    margin-top: 25px;
}

.img-n2-partie9 {
    position: absolute;
    top: 850px;
    left: 880px;
    width: 130px;
    height: 130px;
}


/*******************************************FOOTER********************************************/
                                    

footer nav {
    position: relative;
}

.navigation-footer {
    position: absolute;
    top: 1150px;
    left: 250px;
}


.about-us-footer {
    position: absolute;
    top: 1150px;
    left: 450px;
}


.workflows-footer {
    position: absolute;
    top: 1150px;
    left: 650px;
}


.ressources-footer {
    position: absolute;
    top: 1150px;
    left: 850px;
}


.footer-social-media {
    position: relative;
    top: 1400px;
    left: 520px;
    font-size: 10px;
}


